<h1>Welcome to Kelly Teresa Hartnett Raila's Landing Page!</h1>
<p>
  There's not really anything here right now, so how about you check out one of the following:
</p>
<ul>
  <li><a href="https://github.com/KellyTeresa">GitHub</a></li>
  <li><a href="http://kellyraila.tumblr.com">Programming Blog</a></li>
  <li><a href="http://chocoweb.herokuapp.com">Chocobo Webapp!</a></li>
  <li><a href="https://www.linkedin.com/in/kraila">LinkedIn</a></li>
  <li><a href="https://twitter.com/kraila">Twitter</a></li>
</ul>
