<div class="row">
  <div class="small-12 medium-6 columns">
    <h1>Kelly Teresa Raila</h1>
    Projects
    <ul>
      <% @projects.each do |link| %>
        <li><%= link_to link.name, link.url %></li>
      <% end %>
    </ul>

    Other
    <ul>
      <% @other.each do |link| %>
        <li><%= link_to link.name, link.url %></li>
      <% end %>
    </ul>
  </div>
  <div class="small-12 medium-3 columns">
    <%= image_tag("portrait") %>
  </div>
</div>
